// Reset all browser styling
@import "helpers/reset";

// Helper SCSS files
@import "helpers/functions";
@import "helpers/defaults";
@import "helpers/mixins";

$color-2: #09642c;
$color-1: #009f77;

$gradient-bkg-1: #d1eb99;
$gradient-bkg-2: #98e3cd;

// import custom styling below!
*, *:before, *:after { box-sizing: border-box; }
body {
  font-family: $font-stack;
  font-weight: 200;
}

.text--bold {
  font-weight: 400;
}

.title,
.sub-title,
.copy {
  transition: font-size 150ms ease-out, padding 150ms ease-out ;
}

.title {
  margin-bottom: ts(0);
  font-size: ts(1);
  @media (min-width: to-unit(320px)) {
    margin-bottom: ts(2);
    font-size: ts(2);
  }
  @media (min-width: to-unit(425px)) {
    margin-bottom: ts(3);
    font-size: ts(3);
  }
  @media (min-width: to-unit(1250px)) {
    font-size: ts(4);
  }
}
.sub-title {
  line-height: 1.1;
  margin-bottom: ts(0);
  font-size: ts(0);
  @media (min-width: to-unit(425px)) {
    margin-bottom: ts(1);
    font-size: ts(1);
  }
  @media (min-width: to-unit(1250px)) {
    font-size: ts(2);
  }
}
.copy {
  line-height: 1.25;
    font-size: ts(0);
  @media (min-width: to-unit(1250px)) {
    font-size: ts(1);
  }
}
br {display: block;}

// Containers
.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.row-content {
  width: 94vw;
  position: relative;
  @media (min-width: to-unit(500px)) {
    width: 90vw;
    max-width: 1000px;
  }
  @media (min-width: to-unit(970px)) {
    width: 75vw;
    max-width: 1000px;
  }
}

// Visuals
.hue-text {
  @supports (-webkit-background-clip: text) {
    background-position: 0px 0px;
    background-origin: content-box;
    background: linear-gradient(-14deg, $color-1, $color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  color: #09642c;
}

.hue-rotate {
  animation: hue-rotate 180s linear infinite;
}

.welcome {
  // z-index: 0;
  margin-top: ts(1);
  position: relative;
  @media (min-width: to-unit(320px)) {
    margin-top: ts(2);
  }
  @media (min-width: to-unit(425px)) {
    margin-top: ts(3);
  }
  @media (min-width: to-unit(1250px)) {
    margin-top: ts(5);
  }
}


.welcome__background {
  z-index: -100;
    position: absolute;
    background: linear-gradient(-14deg, $gradient-bkg-1, $gradient-bkg-2);
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    isolation: isolate;
    left: 0;
    top: 0;
}

.welcome__image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -200;
  max-height: 112%;
  max-width: 87%;
  transform: translateY(-7%) translateX(ts(1));
  transition: transform 200ms ease-in-out;
  @media (min-width: to-unit(320px)) {
    transform: translateY(-7%) translateX(ts(2));
  }
  @media (min-width: to-unit(425px)) {
    transform: translateY(-7%) translateX(ts(3));
  }
  box-shadow: -100px 100px 1000px rgba(254, 254, 254, 0.6);

}
.welcome__copy {
  position: relative;
  transition: all 200ms ease-out;
  padding: ts(1) ts(1) ts(1) ts(1);
  margin-right: ts(1);
  margin-bottom: ts(2);
  @media (min-width: to-unit(320px)) {
    margin-right: ts(2);
  }
  @media (min-width: to-unit(425px)) {
    margin-right: ts(3);
  }
  @media (min-width: to-unit(1250px)) {
    padding: ts(4) ts(4) ts(3) ts(4);
  }

  .title {
    margin-bottom: ts(2);
  }
}

.pull-quote {
  font-size: ts(-1);
  max-width: 80%;
  position: relative;
  line-height: 1.2;
  margin: 0 auto;
  transform: translateX(0.35em);

  @media (min-width: to-unit(320px)) {
    font-size: ts(0);
  }

  @media (min-width: to-unit(425px)) {
    font-size: ts(1);
  }

  &:before {
    z-index: -1;
    content: '';
    left: -.85em;
    top: -.45em;
    background-image: url("../assets/icons/quote.svg");
    height: to-unit(70px, "em");
    width: to-unit(70px, "em");
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.05;
  }
}

.social-links {
  margin-top: ts(4);

  &__link {
    margin-right: ts(0);
  }

  &__link svg {
    width: ts(2);

    @media (min-width: to-unit(970px)) {
      width: ts(2.5);
    }
  }
}

a:focus {
   outline: none;
}

[class^="icon--"] {
  transition: all 150ms ease-out;
  &:hover, &:focus {
    transform: scale(1.1);
    filter: saturate(200%);
  }
  &:active {
    transform: scale(.95);
  }
}

.icon--github {
  fill: #6e5494;

  &:hover, &:focus, &:active {
    fill: darken(#6e5494, 15%);
  }
}

.icon--linkedin {
  fill: #0077B5;

  &:hover, &:focus, &:active {
    fill: darken(#0077B5, 15%);
  }
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
