// Reset all browser styling
@import "helpers/reset";

// Helper SCSS files
@import "helpers/functions";
@import "helpers/defaults";
@import "helpers/mixins";

$color-1: #93cc0e;
$color-2: #2ab28d;

$gradient-bkg-1: #d1eb99;
$gradient-bkg-2: #98e3cd;

// import custom styling below!
*, *:before, *:after { box-sizing: border-box; }
body {
  font-family: $font-stack;
  font-weight: 200;
}

.text--bold {
  font-weight: 400;
}

.title,
.sub-title,
.copy {
  transition: font-size 150ms ease-out, padding 150ms ease-out ;
}

.title {
  margin-bottom: ts(3);
    font-size: ts(3);
  @media (min-width: to-unit(970px)) {
    font-size: ts(4);
  }
  @media (min-width: to-unit(1425px)) {
    font-size: ts(5);
  }
}
.sub-title {
  line-height: 1.1;
  margin-bottom: ts(1);
    font-size: ts(1);
  @media (min-width: to-unit(970px)) {
    font-size: ts(2);
  }
  @media (min-width: to-unit(1425px)) {
    font-size: ts(3);
  }
}
.copy {
  line-height: 1.25;
    font-size: ts(0);
  @media (min-width: to-unit(970px)) {
    font-size: ts(1);
  }
  @media (min-width: to-unit(1425px)) {
    font-size: ts(2);
  }
}
br {display: block;}
.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.row-content {
  width: 75vw;
}

.hue-text {
  @supports (-webkit-background-clip: text) {
    background-position: 0px 0px;
    background-origin: content-box;
    background: linear-gradient(-14deg, $color-1, $color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  color: hsla(0, 0%, 40%, 100%);
}

.hue-rotate {
  animation: hue-rotate 180s linear infinite;
}

.welcome {
  margin-top: ts(5);
  position: relative;
  z-index: 1;
}


.welcome__background {
  z-index: -100;
    position: absolute;
    background: linear-gradient(-14deg, $gradient-bkg-1, $gradient-bkg-2);
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
    isolation: isolate;
    left: 0;
    top: 0;

}

.welcome__image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -200;
  max-height: 112%;
  max-width: 87%;
  transform: translateY(-7%) translateX(ts(3));
}
.welcome__copy{
  transition: max-width 200ms ease-out;
  position: relative;
  margin-right: ts(3);
  &:before {
    position: relative;
    height: 120%;
    width: 80%;
    left: 10%;
    border: 2px solid #333;
    z-index: -50;
  }
}
.welcome__copy {
  max-width: 1300px;
  padding: ts(4) ts(4) ts(3) ts(4);
  transition: all 200ms ease-out;
  @media (max-width: 1350px) {
  }
  @media (max-width: to-unit(1425px)) {
    padding: ts(3) ts(3) ts(2) ts(3);
    max-width: 900px;
    // max-width: 950px;
  }
  @media (max-width: to-unit(970px)) {
    padding: ts(1) ts(1) ts(1) ts(1);
    max-width: 620px;
  }

  .title {
    margin-bottom: ts(2);
  }
}
.welcome + .body {
  // transform: translateY(-(ts(5)));
}
.content {
    padding: 0 ts(4);
  @media (max-width: 1350px) {
  }
  @media (max-width: to-unit(1425px)) {
    padding: 0 ts(3);
  }
  @media (max-width: to-unit(970px)) {
    padding: 0 ts(1);
  }
}

.social-links__link svg {
  margin-right: ts(-1);
  width: ts(1);
  @media (min-width: to-unit(970px)) {
    width: ts(2);
  }
  @media (min-width: to-unit(1425px)) {
    width: ts(3);
  }
}

a:focus {
   outline: none;
}

[class^="icon--"] {
  transition: all 150ms ease-out;
  &:hover, &:focus {
    transform: scale(1.1);
    filter: saturate(200%);
  }
  &:active {
    transform: scale(.95);
  }
}

.icon--github {
  fill: #6e5494;
  transition: all 150ms ease-out;
  &:hover, &:focus {
    // fill: lighten(#6e5494, 20%);
  }
  &:active {
    fill: darken(#6e5494, 15%);
  }
}

.icon--linkedin {
  fill: #0077B5;
  transition: all 150ms ease-out;
  &:hover, &:focus {
    // fill: lighten(#6e5494, 20%);
  }
  &:active {
    fill: darken(#0077B5, 15%);
  }
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
